.slider{
 width:620px;
 float:right;
}
.toutiao{
 width:370px;
 float:left;
}
.wzad{
margin:8px;
}
.wzad ul li{
width: 236px;
float: left;
white-space: nowrap;
overflow: hidden;
margin: 5px;
}
.fgwsf{
margin:10px 5px;
}


div,ul,li,h3,h4,p{
	padding: 0; margin: 0;
}
img{
	border: 0; 
}
ul,li{
	list-style: none;
}
h3,h4{
	font-weight: normal;
	font-size: 100%;
}
a{
	color:#222;
	text-decoration:none;
}
a:hover{
	color:#cd0001;
	text-decoration:underline;
}
.FL{
	float:left;
	display:inline;
	overflow:hidden;
}
.FR{
	float:right;
	display:inline;
	overflow:hidden;
}
.clear{
	clear:both;
	padding:0 !important;
	margin:0 !important;
}
.Main1{
	width:1000px;
	margin:0 auto 10px auto;
	padding:0;
margin-top: 20px;
	overflow:hidden;

}
.m_T2{
	height:38px;
	width:1000px;
	padding:0 10px;
	line-height:38px;
	margin-bottom:15px;
	border-top:2px #458fce solid;
	border-bottom:1px #dbecec solid;
	background:#fbfbfb;
}
.m_T2 h3{
	font-family:'Microsoft YaHei';
	font-size:18px;
	font-weight:bold;
	color:#00457d;
}
.m_T2 span{
	float:right;
	color:#999;
}
.m_Grid2{
	width:300px;
	overflow:hidden;
}
.m_Grid3{
	width:370px;
	padding:0 12px;
	border-left:1px #eee solid;
	border-right:1px #eee solid;
	margin:0 12px;
}
.m_Grid3 h4{
	font-family:'Microsoft YaHei';
	font-size:16px;
	font-weight:bold;
	text-align:center;
	line-height:40px;
}
.m_Grid3 p{
	color:#666;
	line-height:18px;
}
.m_Grid4{
	width:270px;
}
.m_Grid4 .pic{
	padding:0 0 12px 0;
	border-bottom:1px #ddd dashed;
}
.m_Grid4 .pic .p1{
	height:70px;
	line-height:17px;
	color:#666;
	padding:13px 0 0 0;
}
.m_Grid4 .pic img{
	float:left;
	padding-right:10px;
}

.m_Grid4 .overflowtext{
  white-space: nowrap;

}
.m_Grid4 .pic a{
	font-size:14px;
	font-weight:bold;
	color:#00457d;
}
.m_Grid4 .pic a:hover{
	color:#cd0001;
}
.m_Box8{
	width:310px;
	height:137px;
	border-bottom:1px #ddd dashed;
}
.m_Box8 li{
	float:left;
	width:145px;
	line-height:32px;
	text-align:center;
	padding:0 10px 0 0;
}
.m_Box8 li img{
	display:block;
}
.m_Box9{
	padding:5px 0 0 0;
	line-height:26px;
}
.m_Box9 li{
	width:96%;
	overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
	padding:0 0 0 10px;
	background:url(http://www.cztcom.com/tassets/images/ico_2.jpg) 2px 13px no-repeat;
}
.m_Box10{
	width:370px;
	line-height:26px;
	font-size:14px;
	padding:4px 0 0 0;
	margin:11px 0 0 0;
	border-top:1px #ddd dashed;
}
.m_Box10 li{
	width:360px;
	overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
	padding:0 0 0 10px;
	background:url(http://www.cztcom.com/tassets/images/ico_1.jpg) 0 11px no-repeat;
}
.m_Box9 a,.m_Box10 a{
	color:#00457d;
}
.m_Box9 a:hover,.m_Box10 a:hover{
	color:#cd0001;
}
.Main1{text-align:start;font-size:12px;font-family:Verdana;color:rgb(34, 34, 34);}